<div class="h-screen w-screen bg-blue-200 flex items-center justify-center">

  <form 
    [formGroup]="formGroup"
    class="size-3/4 border border-slate-400 rounded flex flex-col justify-center items-center"
  >
    <label for="fileUpload" class="flex flex-col gap-y-2 items-center justify-center border border-solid border-black rounded w-fit">
      <span>File Upload</span>
      <input
        multiple
        (change)="handleChange($event)"
        (progress)="handleProgress($event)"
        formControlName="file" 
        id="fileUpload"
        type="file"
      />
    </label>

    <ul class="flex flex-col gap-y-2">
      @if(isUploading) {
        @for (fileUpload of fileUploads; track fileUpload) {
          <li>
            <div class="flex flex-x-2">
              <span>{{fileUpload.name}}</span>
              <progress class="" [max]="100" [value]="fileUpload.progressPercent"></progress>
              <button
                class="rounded px-2 py-1 border-slate-400 bg-red-300"
                type="button"
                (click)="handleAbort(fileUpload.name)"
              >
                  abort!
              </button>
            </div>
          </li>
        }
      }
    </ul>

    <button class="disabled:bg-slate-200 bg-green-500 px-2 py-2 rounded border" [disabled]="!isAllFilesFinished">submit or whatever</button>
  </form>
</div>